.closeModal {
  display: block;
  position: absolute;
  top: 22%;
  right: 35%;
  width: 30px;
  height: 30px;
  border: 2px solid #333; /* 枠の調整 */
  border-radius: 50%;  /* 丸みの度合い */
  background: #fff; /* ボタンの背景色 */
}
 
.closeModal::before, .closeModal::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px; /* 棒の幅（太さ） */
  height: 22px; /* 棒の高さ */
  background: #333; /* バツ印の色 */
}
 
.closeModal::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
.closeModal::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}